  .databaseTable {
    margin: 10vh auto 20px;
  }
  
  .databaseTable tr:hover {background-color: #ddd;}
  
  .databaseTable th {
    padding: 12px;
    text-align: center;
    background-color: #aa1d04;
    color: white;
  }
  
  .databaseTable td {
    padding: 4px;
    text-align: center;
  }
  